{% macro render_post(post) %}
   <details open class="comment" id="comment-uuid" data_uuid="{{ post.uuid }}">
        <a href="#comment-1" class="comment-border-link">
            <span class="sr-only">Jump to comment-1</span>
        </a>
        <summary>
            <div class="{{post.title}}">
                <div class="comment-voting">
                    <button type="button">
                        <span aria-hidden="true">&#9650;</span>
                        <span class="sr-only">Vote up</span>
                    </button>
                    <button type="button">
                        <span aria-hidden="true">&#9660;</span>
                        <span class="sr-only">Vote down</span>
                    </button>
                </div>
                <div class="comment-info">
                    <a href="#" class="comment-author">{{ post.post_owner.name }}</a>
                    <p class="m-0">
                        #
                        22 points &bull; 4 days ago
                    </p>
                </div>
            </div>
        </summary>

        <div class="comment-body">
            <p id="comment_data">
                {{ post.message }}
            </p>
            <button type="button" data-toggle="reply-form" data-target="comment_reply_form">Reply</button>
            <button type="button">Flag</button>

            <!-- Reply form start -->
            <form method="POST" action="#" class="reply-form d-none" id="comment_reply_form">
                <textarea placeholder="Reply to comment" rows="4"></textarea>
                <button type="submit">Submit</button>
                <button type="button" data-toggle="reply-form" data-target="comment-reply-form">Cancel</button>
            </form>
            <!-- Reply form end -->
        </div>
    </details>
{% endmacro %}

{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/comment.css') }}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{{ super() }}



<div class="row-md-8 bg-danger">
    <div class="col tribe-header">
        <h1>{{ tribe.name }}</h1>
        <h3>{{ tribe.description }}</h3>
    </div>
</div>
<div class="container">
    <div class="row" id="content">
        <div class="col" id="comment-thread">

        {% if tribe.posts %}
            {% for post in tribe.posts %}

                {{ render_post(post) }}

            {% endfor %}
        {% endif %}

        </div>
        <div class="col sticky-top" id="menu">
            <div class="btn-group-vertical m-5">
                <a href='#' class="btn btn-primary btn-lg" role="button">New Post</a>
                <a href='#' class="btn btn-warning btn-lg" role="button">Expense</a>
            </div>
        </div>

    </div>
</div>

<template>

</template>


<style>
    .tribe-header {
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 60px;
    }

    #comments {
        float: left;
        background-color: #6e8282;
        width: 80%;
    }
    #menu {
        float: left;
        background-color: #574f58;
        width: 20%
    }


</style>

<script>
    document.addEventListener(
    "click",
    function(event) {
        var target = event.target;
        var replyForm;
        if (target.matches("[data-toggle='reply-form']")) {
            replyForm = document.getElementById(target.getAttribute("data-target"));
            replyForm.classList.toggle("d-none");
        }
    },
    false
);

</script>

{% endblock %}
