{% extends "layout.html" %}
{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('comments.static',filename='css/comment.css') }}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{{ super() }}
{% import "import_test.html" as import_test %}
{% import "comment_thread.html" as comment_thread %}



<div class="row-md-8 bg-danger">
    <div class="col tribe-header">
        <h1>{{ tribe.name }}</h1>
        <h3>{{ tribe.description }}</h3>
    </div>
</div>
<div class="container">
    <div class="row" id="content">
        {{ comment_thread }}
        <div class="col sticky-top" id="menu">
            <div class="btn-group-vertical m-5">
                <a href='#' class="btn btn-primary btn-lg" role="button">New Post</a>
                <a href='#' class="btn btn-warning btn-lg" role="button">Expense</a>
            </div>
        </div>

    </div>
</div>




<style>
    .tribe-header {
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 60px;
    }

    #comments {
        float: left;
        background-color: #6e8282;
        width: 80%;
    }
    #menu {
        float: left;
        background-color: #574f58;
        width: 20%
    }


</style>


<script src="{{ url_for('comments.static', filename='js/load_comments.js') }}"></script>
<script>
    verify()
    //load_tribe_comments("{{ tribe.id }}")
    console.log("{{ tribe.id }}, {{ tribe.name }}")
</script>

{% endblock %}
