{% extends "navbar.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8" >
            <!-- this is where the templates are injected my js -->
            <div id="tribes-list" class="comment-thread">
                <div id="infinite-scroller"></div>
                    <div class="d-flex justify-content-center mb-3" id="sentinel">
                        <div class="spinner-boarder" role="status"></div>
                    </div>

            </div>

            </div>
        </div>
        <div class="sticky col-md-4">
            <div class="shadow">
                 <a href={{ url_for('tribes.create_tribe') }} class="btn btn-default btn-lg" role="button">New Tribe</a>
            </div>
        </div>
    </div>
</div>


<style>

div.sticky {

  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding: 10px;
  font-size: 20px;
}

</style>

<template id="post_template">
    <div class="container bg-light m-1">
        <div class="row">
            <div class="col p-1">
                <a href="" style="text-decoration:none" id="tribe_link">
                    <h5 id="title"></h5>
                </a>
                <p id="description"></p>
            </div>
        </div>
    </div>
</template>

<script src="{{ url_for('comments.static', filename='js/infinite_scroller.js') }}"></script>
<script>

    class PostTemplateUpdateStrategy extends AbstractTemplateUpdateStrategy
    {
        /*
        @abstract
         */
        update(data)
        {
            let creator = data['creator'] || undefined;
            let title = data['title'] || undefined;
            let uuid = data['uuid'] || undefined;
            let description = data['description'] || undefined;

            this.template_clone.getElementById("tribe_link").href = `/tribe/${uuid}`;
            this.template_clone.getElementById("creator").innerHTML = creator;
            this.template_clone.getElementById("title").innerHTML(title);
            this.template_clone.getElementById("description").innerHTML = description;

            return this.template_clone
        }
    }




    var Template_Update_Strategy = new PostTemplateUpdateStrategy("#post_template", "#tribes_list");
    var Template_Cloner = new TemplateCloner(Template_Update_Strategy);

    let endpoint = "{{ url_for('tribes.load') }}"
    var infinite_loader = new InfiniteLoader(endpoint, Template_Cloner);

    //observe default value, and element that has an id of "sentinel"
    infinite_loader.observe(sentinel_id = "#sentinel");

</script>

{% endblock %}