{% extends "layout.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
{{ super() }}
<div class="row-md-8">
    <div class="col tribe-header">
        <h1>{{ tribe.name }}</h1>
        <h3>{{ tribe.description }}</h3>
    </div>
</div>
<div class="row">
    <div class="col p-2">
        <div class="col">
            This is where withdrawl requests will go.

        </div>
        <div class="col">
        </div>
        </div>
    <div class="col">
        <div class="btn-group-vertical m-5 sticky-top">
            <a href='#' class="btn btn-primary btn-lg" role="button">New Post</a>
            <a href='#' class="btn btn-warning btn-lg" role="button">Expense</a>
        </div>
    </div>
</div>

<style>
    .tribe-header {
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 60px;
    }


</style>

{% endblock %}
