

<link rel="stylesheet" href="../static/css/comment.css">
{% import "bootstrap/wtf.html" as wtf %}
<div id="comment-thread" class="comment-thread">
    <div id="infinite-scroller"></div>
    <div class="d-flex justify-content-center mb-3" id="sentinel">
        <div class="spinner-boarder" role="status"></div>
    </div>

</div>


<template id="comment_template">
    <div class="comment-start">
    <details open class="comment" id="comment" data-path="None" data-parent="None">
        <summary>
            <div class="comment-heading">
                <div class="comment-voting">
                    <button type="button">
                        <span aria-hidden="true">&#9650;</span>
                        <span class="sr-only">Vote up</span>
                    </button>
                    <button type="button">
                        <span aria-hidden="true">&#9660;</span>
                        <span class="sr-only">Vote down</span>
                    </button>
                </div>
                <div class="comment-info">
                    <!-- Set author in js -->
                    <a href="#" class="comment-author" id="comment-author"></a>
                    <p class="m-0" id="comment-datetime">
                    </p>
                </div>
            </div>
        </summary>

            <div class="comment-body">
                <!-- Set message in js -->
                <p id="comment-message"></p>
                <!-- Set callback functions in js -->
                <button id="reply-button" type="button">Reply</button>
                <button id="flag-button" type="button">Flag</button>

                <!-- Reply form start -->
                <div >
                    <form class="reply-form" id="reply-form" action="" data-reply_form_id="replace_by_js" method="post" style="display: none;">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form) }}

                        {{ wtf.form_field(form.message) }}
                        {{ wtf.form_field(form.submit) }}
                        {{ wtf.form_field(form.cancel) }}
                    </form>
                </div>
                <!-- Reply form end -->
            </div>
            <div class="replies" id="replies" data-reply_parent="" position="relative" >

            </div>

    </details>
     </div>
</template>

<script src="{{ url_for('comments.static', filename='js/infinite_scroller.js') }}"></script>
<script>

    class CommentTemplateUpdateStrategy extends AbstractTemplateUpdateStrategy
{

    parse_data(comment_data)
    {
        this.title = comment_data['title'];
        this.message = comment_data['message'];
        this.uuid = comment_data['uuid'];
        this.path = comment_data['path'];
        this.author = comment_data['author'];
        this.parent = comment_data['parent'];

        //set path data
        let split_path = this.path.split(".");
        this.is_reply = split_path.length > 1;


        if (this.is_reply) {
            this.path_leaf = split_path[(split_path.length) - 1];
            this.path_parent = split_path[(split_path.length) - 2];
        }
        else
        {
            this.path_leaf = this.path;
        }

    }

    set_content()
    {
        if (this.hasOwnProperty('path') ||
            this.hasOwnProperty('author') ||
            this.hasOwnProperty('message'))
        {
            this.template_clone
                .getElementById("comment")
                .setAttribute("data-path", this.path);
            this.template_clone
                .getElementById("comment-author")
                .innerHTML = this.title;

            //This will be replaced by a function to call ipfs and decode.
            this.template_clone
                .getElementById("comment-message")
                .innerHTML = this.message;
        }
        else
        {
            throw "parse comment data hasn't been called."
        }
    }

    //set reply button functionality to toggle visibility.

    set_reply_form_data()
    {

        //toggle reply display
        let toggle_comment_form_display = () =>
        {
            let comment_reply_form = document.querySelector(`[data-reply_form_id="${this.path_leaf}"]`);
            if (comment_reply_form.style.display === "none") {

                comment_reply_form.style.display = "block";
            }
            else
            {
                comment_reply_form.style.display = "none";
            }
        }

        this.template_clone
            .getElementById("reply-button")
            .onclick = toggle_comment_form_display;

        this.template_clone
            .getElementById("cancel")
            .onclick = toggle_comment_form_display;

        //set reply form unique identifier to grab the form
        this.template_clone
            .getElementById("reply-form")
            .setAttribute("data-reply_form_id", this.path_leaf)

        this.template_clone
            .getElementById('reply-form')
            .action = `/comments/reply?post_uuid=${this.uuid}`;

        //set the replies div so it can be referenced by children.
        //This allows us to attach replies.

        this.template_clone
            .getElementById("replies")
            .setAttribute("data-reply_parent", this.path_leaf);

    }


    append_to_comment_thread()
    {
        /*
        Probably parameterize this function.
         */
        var comment_thread;
        if (this.is_reply)
        {
            comment_thread = document.querySelector(`[data-reply_parent="${this.path_parent}"]`);

        }
        else
        {


            //the comment_data is a reply to the topic.

            comment_thread = document.getElementById("infinite-scroller");
        }
        comment_thread.append(this.template_clone)

    }



    append_to(data)
    {
        this.parse_data(data)
        this.set_content();
        this.set_reply_form_data();
        this.append_to_comment_thread();
    }
}

    var Template_Update_Strategy = new CommentemplateUpdateStrategy("#comment_template", "#comment_thread");

    let endpoint = "{{ url_for('comments.get_tribe_comments', tribe_uuid=tribe.uuid) }}"
    var infinite_loader = new InfiniteLoader(endpoint, Template_Update_Strategy)

    //observe default value, and element that has an id of "sentinel"
    infinite_loader.observe();

</script>
