{% extends "navbar.html" %}
{% block content %}



{% macro render_org(org_data) %}
<div class="jumbotron">
    <div class="jumbotron">
        <h1>{{ org_data.name }}</h1>
        <p>{{ org_data.description }}</p>
    </div>
</div>
{% endmacro %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Agent {{ id }} is logged in</h2>
        </div>
        <div id="create_group">
            <div class="col">
                <div class="page-header">
                    <h1>Organization Selection.</h1>
                    {% for org in orgs %}
                        {{ render_org(org) }}
                    {% endfor %}
                </div>
            </div>
            <a href={{ url_for('orgs.create_org') }} class="btn btn-default btn-lg" role="button">New Org</a>
        </div>
    </div>
</div>
{% endblock %}