<!DOCTYPE html>
<html>
<head>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <title>{{ title }}</title>
  </head>
</head>
<body>
    {% block navbar %}{% endblock %}
    <div class="container">
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block controls %}{% endblock %}
    </div>

</body>
</html>