{% extends "layout.html" %}
{% block content %}
<div id="feed" title="" class="flex h-full w-full p-3 text-gray-800 text-opacity-100 font-sans text-sm font-normal border-gray-300 border-opacity-100  ">
	<div id="posts" title="" class="flex w-full p-10 text-gray-800 text-opacity-100 font-sans text-sm font-normal border-gray-300 border-opacity-100 ">
	</div>
	<div id="" title="" class="flex flex-col p-3 text-gray-800 text-opacity-100 font-sans text-sm font-normal border-gray-300 border-opacity-100 ">
		<div id="feed_panel" title="" class="p-1 text-gray-800 text-opacity-100 font-sans text-sm font-normal border-gray-300 border-opacity-100 ">
			<div id="" title="" class="flex p-1 text-gray-800 text-opacity-100 font-sans text-sm font-normal border-gray-300 border-opacity-100 ">
				<p id="" title="" class="text-gray-800 text-opacity-100 font-sans text-sm font-normal border-gray-300 border-opacity-100 " style="min-width:10px">This is the</p>
				<div>group description</div>
				<p>
			</p>
		</div>
		<div id="" title="" class="flex p-1 text-gray-800 text-opacity-100 font-sans text-sm font-normal border-gray-300 border-opacity-100 ">
			<button id="" name="" form="" class="text-gray-800 text-opacity-100 font-sans text-sm font-normal bg-green-300 bg-opacity-100 border-gray-300 border-opacity-100 " style="min-width:10px;min-height:10px">
				<span contenteditable="false" disabled="">Click Me!</span>
			</button>
		</div>
	</div>
</div>
</div>
{% endblock %}

