{% extends "navbar.html" %}
{% block content %}



{% macro render_org(org_data) %}
<div class="jumbotron">
    <div class="jumbotron">
        <h1>{{ org_data.name }}</h1>
        <p>{{ org_data.description }}</p>
    </div>
</div>
{% endmacro %}

<div class="container">
    <div class="row">

        <div class="col-2">
            <h2>Sidebar</h2>
        </div>

        <div class="col-8" id="create_group">
            <h1>Organization Selection.</h1>
            {% for org in orgs %}
                {{ render_org(org) }}
            {% endfor %}
        </div>
        <div class="col-2">
            <a href={{ url_for('orgs.create_org') }} class="btn btn-default btn-lg" role="button">New Org</a>
        </div>
    </div>
</div>
{% endblock %}