{% extends "navbar.html" %}
{% block content %}

{% macro render_org(org_data) %}
<div class="container container-flex bg-light m-1">
    <div class="row">
        <div class="col p-1">
            <a href="{{ url_for('orgs.org', org_id=org_data.id, org=org_data) }}" style="text-decoration:none">
                <h5>{{ org_data.name }}</h5>
            </a>
            <p>{{ org_data.description}}</p>
        </div>
        <div class="col-1">
            <a class="btn btn-block btn-primary" style="display: block; width: 100%; height:100%; font-size:large" href="{{ url_for('orgs.org', org_id=org_data.id, org=org_data) }}">
                <span class="glyphicon glyphicon-chevron-right" style="font-size: 10px;"></span>
            </a>
        </div>
    </div>
</div>
{% endmacro %}




<div class="row">
    <div class="col-8" >
        <!-- this is where the templates are injected my js -->
        <div id="scroller"></div>

        <!-- this is the intersection observer that makes calls -->
        <div class="d-flex justify-content-center mb-3"
             id="sentinel"
        >
            <div class="spinner-boarder" role="status"></div>

        </div>
    </div>
    <!-- Wtf is with this not sticking -->
    <div class="col-2">
        <div class="sticky shadow">
             <a href={{ url_for('orgs.create_org') }} class="btn btn-default btn-lg" role="button">New Org</a>
        </div>
    </div>
</div>


<style>

div.sticky {

  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding: 10px;
  font-size: 20px;
}

</style>

<template id="post_template">
    <div class="container container-flex bg-light m-1">
        <div class="row">
            <div class="col p-1">
                <a href="" style="text-decoration:none" id="org_link">
                    <h5 id="title"></h5>
                </a>
                <p id="description"></p>
            </div>
        </div>
    </div>
</template>

<script>
    var scroller = document.querySelector("#scroller");
    var template = document.querySelector("#post_template");

    var sentinel = document.querySelector("#sentinel");

    var counter = 0;

    function loadItems() {
        fetch(`/orgs/load?c=${counter}`).then(( response) => {
            response.json().then((data) => {
                if (!data.length) {
                    sentinel.innerHTML = "No More Orgs. ";
                }
                for (var i = 0; i < data.length; i++) {

                    let template_clone = template.content.cloneNode(true);
                    template_clone.querySelector("#title").innerHTML = `${data[i]["name"]}`;
                    template_clone.querySelector("#description").innerHTML = `${data[i]["description"]}`;
                    template_clone.querySelector("#org_link").href = `/orgs/${data[i]["id"]}`;
                    scroller.append(template_clone);
                    counter += 1;
                }
                // would like to unobserve the lazy loader.
            })
        })
    }


    var intersectionObserver = new IntersectionObserver(entries => {

    // Uncomment below to see the entry.intersectionRatio when
    // the sentinel comes into view

    // entries.forEach(entry => {
    //   console.log(entry.intersectionRatio);
    // })

    // If intersectionRatio is 0, the sentinel is out of view
    // and we don't need to do anything. Exit the function
    if (entries[0].intersectionRatio <= 0) {
    return;
    }

    // Call the loadItems function
    loadItems();
    });

// Instruct the IntersectionObserver to watch the sentinel
intersectionObserver.observe(sentinel);
</script>
{% endblock %}